data
*.pyc
*-checkpoint.ipynb
.DS_Store
*.h5
*.log
*.npz
secrets.py
*.avi
*.mp4
build
build_linux
.idea
.sublime-project
run_experiment.sh
scratch-notebooks
launch_scripts
*.sh.e*
*.sh.o*
MUJOCO_LOG.TXT
vendor/mujoco
.project
.pydevproject
*.pdf
.env
snippets
private
lua
iterate.dat
.env
src/
.settings
.pods
docs/_build
blackbox.zip
blackbox
rllab/config_personal.py
*.swp
sandbox
